{% extends 'weather.html' %}
{% block body %}
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="card text-center">
          <div class="card-header text-primary">
            City Weather
          </div>
          <div class="card-body">
            <h5 class="card-title">{{ weather.city }}</h5>
            <p><img src="http://openweathermap.org/img/w/{{weather.icon}}.png" alt="City Icon"></p>
            <p class="card-text"> 
              {{weather.temperature}} &#8457;
              <p> {{weather.description}}</p>
            </p>
          </div>
          <div class="card-footer text-muted">
            Welcome TO Weather APP
          </div>
        </div>
      </div>
    </div>

{% endblock body %}